
body, html {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(171, 168, 229);
  color: white;
}

/* Default styles for the hero image */
.hero-image {
  /* "linear-gradient" to add a darken background effect to the image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/noiiise.png");
  /* Set a specific height */
  height: 45vh; /* Using viewport height for responsiveness */
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  
}

/* responsive */
@media screen and (max-width: 768px) {
  
  .hero-image {
      height: 30vh; 
  }
}

@media screen and (max-width: 480px) {
  .hero-image {
      height: 20vh; 
  }
}

/* Placing text in the middle of the image */
/* .hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
} */



/* Common styles */
.noisetext,
.noisetext2,
.noisetext3 {
  font-size: medium; 
}

/* Banner Section */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/noiiise.png");
  height: 45vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Waveform interaction Section */
#sec-1 {
  background: linear-gradient(45deg, #000000, #333333 45%, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  position: relative;
  color: white;
  padding: 5% 0;
  text-align: center;
}

.sec-1Container {
  z-index: 1;
  position: relative;
}

.waveformImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px; 
  margin-left: 20px;
}

.waveformChart {
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 0 auto; 
}

.textContainer {
  margin: 0 auto; 
}

.noiseimgplaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px; 
  margin-right: 20px;
}

.noiseButtonContainer {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #666;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #555;
}

/* Frequency Info section */
#sec-2 {
  background: linear-gradient(45deg, #000000, #333333 55%, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  position: relative;
  color: white;
  padding: 5% 0;
  text-align: center;
}

.sec-2Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px; /* Adjust margin as needed */
}

.freqeuncyContainer {
  margin: 20px; /* Adjust margin as needed */
}

.noisetext2 {
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .waveformChart {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* What is COlour Page
 */
/* Responsive Background for "What is Colour" Page */
#colourbackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("Images/coloursbg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  z-index: -1;
}

.whatIs1P5Container {
  width: 100%;
  height: 100vh; /* Set height to match the viewport height */
}

/* H1 first visibility */
.backgroundtext {
  text-align: center;
  color: white;
  display: block;
  margin-top: 50px;
  font-size: xx-large;
  
  /* background-color: #333; */
}




/* PRISM DETAILS */
.colourcontainer1 {
  text-align: center;
}


.prismSection {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 50px; 
}

.tryItOut{
  text-align: center;
  color: white;
  display: block; 
  margin-top: 50px;
  font-size: xx-large;
}

.textContainer {
  margin-bottom: 60px;
  margin-left: 20px;
  color: whitesmoke;
}

.prismContainer{
  margin-left: 105px;
}

/* first body text */
.whatiscolourtext {
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px;
  margin-top: 50px; */
font-size: medium;
}



/* light spectrum section */


.lightSpectrumSection {
  margin-top: 100px;
}

.lsChartImage {
  max-width: 65%;
  height: auto;
  display: block;
  margin: 0 auto; 
  padding: 20px;
}

/* colour wheel info */
.colourcontainer2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* H1 */
.backgroundtext2{
  text-align: center;
  color: whitesmoke;
  display: block;
  margin-top: 70px;
  font-size: xx-large;
  /* background-color: #333; */
}


.wheelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.frequencyTextContainer {
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column; 
  justify-content: left;
  align-items: left;
  /* margin-left: 20px; Adjust the margin as needed */
}

/* body text */
.whatiscolourtext2 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 10px; 
  margin-left: 10px;
  font-size: medium;
}
.aboveWhatIsColourText{
 
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}

/* Scroll Down Button for "SECOND TEXT" */
/* .scroll-down-colour {
  height: 70px;
  width: 50px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
} */

/* Scroll Down Button Animation Stuffs */
/* .scroll-down-colour::before,
.scroll-down-colour::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down-colour::after {
  top: 30%;
  animation-delay: 0.3s;
} */






/* Scroll Down Button for "THIRD SECTION" */
/* .scroll-down-third {
  height: 70px;
  width: 50px;
  border: 2px solid white;
  position: absolute;
  left: 50%; 
  bottom: -100%; /* Adjust the bottom position */
  /* border-radius: 50px;
  cursor: pointer;
} */ */

/* Scroll Down Button Animation Stuffs */
/* .scroll-down-third::before,
.scroll-down-third::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down-third::after {
  top: 30%;
  animation-delay: 0.3s;
} */

/* third h1 */
.backgroundtext3{
  text-align: center;
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 700px;
  margin-left: 20px;
}

/* body text */
.whatiscolourtext3{
  text-align: center;
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 50px;
  margin-top: 50px;

}

/* HOW THEY CONNECT PAGE */


#connectionBG{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("Images/noisecolourbg.jpg");
height: 100vh;
width: 100%;
background-size: cover;
background-position: center;
position: fixed;
top: 0;
z-index: -1;
}

/* First bit about definition */
#connectionSec{
  /* background: linear-gradient(45deg, #000000, #333 45%, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite; */
  /* position: relative; */
  color: white;
  /* padding: 50px 0; */
  text-align: center;
}

#connectionSecContainer{
  z-index: 1;
  position: relative;
}

.H1Connection{
  position: relative;
  text-align: center;
  color: white;
  display: block; /* Change display to block */
  margin-top: 50px;
  font-size: xx-large;
}

.connectionText{
  margin-top: 20px;
  margin-left: 20px;
  font-size: medium;
}

.psdSec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.H1PSD{
  position: relative;
  text-align: center;
  color: white;
  display: block; /* Change display to block */
  margin-top: 50px;
  font-size: xx-large;
}


.psdImage{
  max-width: 65%; 
  height: auto;
  display: block;
  margin: 0 auto; 
  padding: 20px;
}

/* .psdSecContainer{
  /* padding: 30px; */
/* } */ 

.psdText{
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}

/* responsive */
@media only screen and (max-width: 768px){
  .connectionText {
    margin-left: 0;
  }
  
  .psdImage {
    margin-left: 0;
  }
}






/* Pick Your Colour Page */


/* BG */

#colourbgcham {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/tree.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  margin: 0; 
  padding: 0; 
  z-index: -1;
}




#chooseNoiseContainer {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;   
  /* margin-bottom: ; */
}



.whiteNoiseButton {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color: white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.whiteNoiseButton:hover {
  box-shadow: 10px 10px 10px lightgray;
  transform: scale(1.05);
  background-color: white;
  color: black;
}



.pinkNoiseButton {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.pinkNoiseButton:hover {
  box-shadow: 10px 10px 10px lightcoral ;
  transform: scale(1.05);
  background-color: lightpink;
  color:black;
}



.blueNoiseButton{
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.blueNoiseButton:hover {
  box-shadow: 10px 10px 10px blue ;
  transform: scale(1.05);
  background-color: lightskyblue;
  color:black;
}



.violetNoiseButton{
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.violetNoiseButton:hover {
  box-shadow: 10px 10px 10px purple ;
  transform: scale(1.05);
  background-color: violet;
  color:black;
}



.brownNoiseButton{
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.brownNoiseButton:hover{
  box-shadow: 10px 10px 10px brown ;
  transform: scale(1.05);
  background-color: burlywood;
  color:black;
}

/* Chameleons and Visibility Settings */
.colouredchameleons img {
  max-width: 100%;
  height: 400px;
  display: none;
  padding-left: 300px;
}

.colouredchameleons img.active {
  display: block;
}
/* Colour Buttons */
.colourbuttoncontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  align-items: center;
}


/* Header */
.pickyourbackgroundtext{
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Body */
.bodypickyourcolour {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
}


/* White Noise Page */

/* Background */
.bgWhiteNoise {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 62%, rgba(153,153,153,1) 100%);
overflow-y: auto;
animation: gradientAnimation 10s infinite linear;

}

/* Text */
.whiteH1 {
font-size: 45px;
text-align: center;
justify-content: center;
display: flex;
}

.whiteNoiseInfoHead {
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 200px;
  padding-left: 20px;
}

.whiteNoiseInfoBody {
  padding-left: 20px;
  text-wrap: balance;
  text-align: left;
  color: black;
  display: flex;
  justify-content: left;
  align-items: left;
  text-wrap: balance;

}

.whiteNoiseInfoHeadSection2 {
  font-size: 45px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 200px;

}

.whiteNoiseInfoBodySection2{
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: balance;

}
/* Chameleon Img */
.whiteChameleonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

#hoverVideo {
  width: 100%;
  max-width: 800px;  
  /* changes size */
}


.whiteChameleonPg {
  max-width: 100%;
  height: 200px;
  /* background-color: #333; */
/* border-radius: 20px; */
}

/* .whiteChameleonPgBranch {
  max-width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
}


@keyframes branchAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.whiteChameleonPgBranch:hover {
  animation: branchAnimation 0.7s ease infinite;
} */
/* Scrolly Thing */

.scroll-down-white {
  height: 70px;
  width: 50px;
  border: 2px solid #333;
  position: absolute;
  left: 50%;
  bottom: -70px;
  border-radius: 50px;
  cursor: pointer;
}

/* Scroll Down Button Animation Stuffs */
.scroll-down-white::before,
.scroll-down-white::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #333;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down-white::after {
  top: 30%;
  animation-delay: 0.3s;
}


/* Image Grid */

.imageGrid {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}


/* Another Scrolly Thing */

.scroll-down-white2 {
  height: 70px;
  width: 50px;
  border: 2px solid #333;
  position: absolute;
  left: 50%;
  bottom: -90%;
  border-radius: 50px;
  cursor: pointer;
}

/* Scroll Down Button Animation Stuffs */
.scroll-down-white2::before,
.scroll-down-white2::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #333;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down-white2::after {
  top: 30%;
  animation-delay: 0.3s;
}

.placeholderWhite {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/* Play noise button */

.playButton {
  cursor: pointer;
  margin: 0 auto; 
  text-align: center;
  background-color: #588157;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.playButton:hover {
  box-shadow: 10px 10px 10px lightgreen ;
  transform: scale(1.05);
  background-color: white;
  color:black;
}


/* Pink Noise Page */


/* Background */

.bgPinkNoise {
  background-image: url("Images/PinkBG.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  
  

}



/* Text */
.pinkH1 {
  font-size: 45px;
  text-align: center;
}

.anotherPinkH1 {
  font-size: 45px;
  text-align: center;

}

.pinkNoiseInfoHead {
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.pinkNoiseInfoBody {
  padding-left: 20px;
  text-align: left;
  color: black;
 text-wrap: balance;
  margin: 0;
}

/* Containers */
.pinkNoiseInfoContainer {
  display: flex;
  align-items: center;
  padding-top: 300px;
}

.pinkChameleonContainer {
  margin: 0 auto;
  padding-left: 550px;
  }
  
  .pinkContainer {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /* Images */
  .pinkChameleonPg {
    max-width: 100%;
    height: 200px;
    background-color: #333;
    border-radius: 20px;
  }

  .placebearPink {
    margin-right: 20px;
  
  }

  .pinkImgPlaceholder {
    margin-top: 20px;

  }



  /* Blue Nooise Page */

  /* BG */

  .bgBlueNoise {
    background: linear-gradient(45deg, #85C1E9, #3498db, #5DADE2, #87CEEB, #5DADE2, #3498db, #85C1E9);
    margin: 0;
    animation: gradientAnimation 10s infinite linear;
  }



  /* Text Stuffs */
.blueH1 {
  font-size: 45px;
  text-align: center;
  justify-content: center;
  display: flex;
  }
  
  .blueNoiseInfoHead {
    font-size: 35px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    padding-top: 200px;
    padding-right: 20px;
  }
  
  .blueNoiseInfoBody {
    padding-right: 20px;
    text-wrap: balance;
    text-align: right;
    color: black;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .blueNoiseInfoHeadSection2 {
    font-size: 45px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-top: 200px;
  
  }
  
  .blueNoiseInfoBodySection2{
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
  
  }


  /* Chameleon Img */
.blueChameleonContainer {
  margin: 0 auto;
  padding-left: 550px;
  }
  
  .blueChameleonPg {
    max-width: 100%;
    height: 200px;
    background-color: #333;
  border-radius: 20px;
  }

/* IMG */
  .blueImgPlaceholder {
    display: flex;
   align-items: center;
   justify-content: center;
padding-bottom: 20px;
  }

  
  /* Image Grids */


  .blueImageGrid {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-left: 40px;
    padding-right: 40px;   */
  }




  /* Scrolly Things */

.scroll-down-blue {
  height: 70px;
  width: 50px;
  border: 2px solid #333;
  position: absolute;
  left: 50%;
  bottom: -70px;
  border-radius: 50px;
  cursor: pointer;
}

/* Scroll Down Button Animation Stuffs */
.scroll-down-blue::before,
.scroll-down-blue::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #333;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down-blue::after {
  top: 30%;
  animation-delay: 0.3s;
}


.scroll-down-blue2 {
  height: 70px;
  width: 50px;
  border: 2px solid #333;
  position: absolute;
  left: 50%;
  bottom: -90%;
  border-radius: 50px;
  cursor: pointer;
}

/* Scroll Down Button Animation Stuffs */
.scroll-down-blue2::before,
.scroll-down-blue2::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #333;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down-blue2::after {
  top: 30%;
  animation-delay: 0.3s;
}



/* Brown Noise */

/* BG */
.bgBrownNoise{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
background: rgb(255,255,255);
background: linear-gradient(180deg, #D2B48C, #C19A6B, #A0522D);
overflow-y: auto;
animation: gradientAnimation 10s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Texts */

.brownH1 {
  font-size: 45px;
  text-align: center;
  justify-content: center;
  display: flex;
  color:whitesmoke;
  }

  .brownBgText{
    text-align: center;
    color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 200px;
    margin-left: 20px;
  }

  .brownBodyText {
    text-align: center;
    color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 50px;
    margin-top: 50px;
  
  }


  .brownBgText2{
    text-align: center;
    color: white;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 200px;
    margin-right: 20px;
  }

  .brownBodyText2 {
    text-align: right;
    color: white;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 50px;
    margin-top: 50px;
  
  }
  /* Containers */
  .brownChameleonContainer {
    margin: 0 auto;
    padding-left: 550px;
    }

  

    /* Images */

    .brownChameleonPg {
      max-width: 100%;
      height: 200px;
      background-color: #333;
    border-radius: 20px;
    }

    .placebearBrown {
 padding-top: 10px;
 padding-left: 20px;
 
    }


    .placebearBrown2{
      display: block;
      margin-left: auto;
     padding-right: 20px;
    }






    /* Violet Page */

    /* BG */

    .bgVioletNoise {
      background-color: #e4b5cb;
  background-image: linear-gradient(315deg, #e4b5cb 0%, #722ae6 74%);
  animation: gradientAnimation 10s infinite alternate;
    }



    .violetH1 {
      font-size: 45px;
      text-align: center;
      justify-content: center;
      display: flex;
      color:whitesmoke;
      }
    
      .violetBgText{
        text-align: center;
        color: white;
        display: flex;
        justify-content: right;
        align-items: right;
        margin-top: 200px;
        margin-right: 20px;
      }
    
      .violetBodyText {
        text-align: center;
        color: white;
        display: flex;
        justify-content: right;
        align-items: right;
        margin-right: 50px;
        margin-top: 50px;
      
      }
    
    
      .violetBgText2{
        text-align: center;
        color: white;
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 200px;
        margin-left: 20px;
      }
    
      .violetBodyText2 {
        text-align: right;
        color: white;
        display: flex;
        justify-content: left;
        align-items: left;
        margin-left: 50px;
        margin-top: 50px;
      
      }
      /* Containers */
      .violetChameleonContainer {
        margin: 0 auto;
        padding-left: 550px;
        }
    
      
    
        /* Images */
    
        .violetChameleonPg {
          max-width: 100%;
          height: 200px;
          background-color: #333;
        border-radius: 20px;
        }
    
        .placebearViolet {
     padding-top: 10px;
     padding-left: 20px;
     display: block;
     margin-left: auto;
    padding-right: 20px;
        }
    
    
        .placebearViolet2{
          padding-top: 10px;
          padding-left: 20px;
        }
    
    /* Connection Page */


    #connectionbg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("Images/connection.jpg");
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: fixed;
      top: 0;
      z-index: -1;
    }

    .howTheyConnectP5container {
      width: 100%;
      height: 100vh; /* Set height to match the viewport height */
    }
    