
body, html {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
    text-wrap: balance;
}


/* Navigation bar styles */
.topnav {
  background-color: #333; 
  overflow: hidden;
}

/* Style links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(171, 168, 229);
  color: white;
}


/* Banner Section */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/noiiise.png");
  height: 45vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Medium font size */
.noisetext,
.noisetext2,
.noisetext3 {
  font-size: medium; 
}
 
/* Fade in animation */
.noisetext{
  opacity: 0;
  animation: fadeIn 2s forwards;
}

/*  0 - 1 in 2seconds so it fades in queickly */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Back to top button styles */
#backToTopButton {
  display: inline-block;
  background-color: grey;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#backToTopButton::after {
  content: ""; 
  width: 34px; 
  height: 34px; 
  background-image: url('angle-up-solid.svg');
  background-size: cover; 
  background-position: center; 
  display: inline-block;
  margin-top: 8px; 
}

/* On hover controls */
#backToTopButton:hover {
  cursor: pointer;
  background-color: #333;
}
#backToTopButton:active {
  background-color: #555;
}
#backToTopButton.show {
  opacity: 1;
  visibility: visible;
}

/* Waveform interaction Section */
#sec-1 {
  background: linear-gradient(45deg, #000000, #333333 45%, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  position: relative;
  color: white;
  padding: 5% 0;
  text-align: center;
}

/* header styles */
.noiseH1 {
  text-align: center;
  color: white;
  display: block;
  margin-top: 50px;
  font-size: xx-large;
}

.sec-1Container {
  z-index: 1;
  position: relative;
}

/* waveform definitions styling */
.waveformImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px; 
  margin-left: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* making opacity 1 after reveal */
.waveformImage.reveal {
  opacity: 1;
}

.waveformChart {
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 0 auto; 
  transition: transform 0.3s ease-in-out;
}

/* little interaction, scale image up on hover */
.waveformChart:hover{
  transform: scale(1.05);
}

.textContainer {
  margin: 0 auto; 
}

/* image styling */
.noiseimgplaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px; 
  margin-left: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* opacity should  be 1 after reveal */
.noiseimgplaceholder.reveal {
  opacity: 1;
}

/* making sure content is centred */
.noiseButtonContainer {
  display: flex;
  justify-content: center;
}

/* oscillator buttons styling */
.noiseButton {
  padding: 5px; /* Adjust padding */
  text-align: center;
  cursor: pointer;
  background-color: gray;
  color: white;
  font-size: 1.5em; /* Adjust font size */
  border-radius: 3px; /* Adjust border radius */
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}
.noiseButton:hover {
  box-shadow: 5px 5px 5px lightgray;
  transform: scale(1.05);
  background-color: white;
  color: black;
}


/* oscillator button styling */
.button {
  background-color: #666;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

/* on hover controls */
.button:hover {
  background-color: #555;
}

/* Frequency Info section */
#sec-2 {
  background: linear-gradient(45deg, #000000, #333333 55%, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  position: relative;
  color: white;
  padding: 5% 0;
  text-align: center;
}

/* centred contend with big margin and animation controls */
.sec-2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px; 
  margin-left: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* after reveal, opacity should be 1 (visible) */
.sec-2Container.reveal {
  opacity: 1;
}

/* spacing */
.freqeuncyContainer {
  margin: 20px; 
}

/* centred, medium, white text */
.noisetext2 {
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}


/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .waveformChart {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* What is COlour Page
 */
/* Responsive Background for "What is Colour" Page */
#colourbackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url("Images/rainbowBg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  z-index: -1;
}


/* fade in animations for first bit of text */
.firstColourTextContainer {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* H1 first visibility */
.backgroundtext {
  text-align: center;
  color: white;
  display: block;
  margin-top: 50px;
  font-size: xx-large;
  
}




/* PRISM DETAILS */
.colourcontainer1 {
  text-align: center;
}

/* centred text */


/* making sure prism is in the centre with some spacing between the H1 section */
.prismSection {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.prismSection.reveal {
  opacity: 1;
}

/* little bit of spacing */
.prismContainer {
  margin-top: 20px; 
}

/* header styles */
.tryItOut {
  text-align: center;
  color: white;
  font-size: xx-large;
}

/* centered text with spacing at the bottom */
.textContainer {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 20px; 
}




/* first body text */
/* centre aligned */
.whatiscolourtext {
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
font-size: medium;
text-wrap: balance;
}



/* light spectrum section */

/* spacing and animation */
.lightSpectrumSection {
  margin-top: 140px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.lightSpectrumSection.reveal {
  opacity: 1;
}
 
/* header for vsl section */
.vslText {
  text-align: center;
  color: white;
  display: block;
  margin-top: 50px;
  font-size: xx-large;
  
  /* background-color: #333; */
}

/* making sure light spectrum image is visible and not taking up all of the page */
.lsChartImage {
  max-width: 65%;
  height: auto;
  display: block;
  margin: 0 auto; 
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

/* enlarge image a tiny bit just for interactivity */
.lsChartImage:hover{
  transform: scale(1.05);
}


/* colour wheel info */

/* centered and fade in animation */
.colourcontainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.colourcontainer2.reveal {
  opacity: 1;
}

/* spacing between sections and fade ins */
.frequencyColourWheelSection{
margin-top: 140px;
opacity: 0;
transition: opacity 1s ease-in-out;
}

.frequencyColourWheelSection.reveal {
opacity: 1;
}


/* H1 */
.backgroundtext2{
  text-align: center;
  color: whitesmoke;
  display: block;
  margin-top: 100px;
  font-size: xx-large;
}

/* centering container */
.wheelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
/* little enlarge interaction on static image */
.wheelContainer:hover{
  transform: scale(1.05);
}

/* styling container */
.frequencyTextContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
 margin-bottom: 50px;
}

/* body text with spacing and centred alignment*/
.whatiscolourtext2 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 10px; 
  margin-left: 10px;
  font-size: medium;
  text-wrap: balance;
}

/* spacing and centred alignment */
.aboveWhatIsColourText{
 
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
  text-wrap: balance;
}

/* spacing and alignment */
.aboveWhatIsColourText2 {
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-wrap: balance;
}


/* third h1 */
.backgroundtext3{
  text-align: center;
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 700px;
  margin-left: 20px;
}

/* body text */
.whatiscolourtext3{
  text-align: center;
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 50px;
  margin-top: 50px;

}

/* HOW THEY CONNECT PAGE */


#connectionBG{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("Images/noisecolourbg.jpg");
height: 100vh;
width: 100%;
background-size: cover;
background-position: center;
position: fixed;
top: 0;
z-index: -1;
}

/* First bit about definition */
#connectionSec{
  color: white;
  text-align: center;
}

#connectionSecContainer{
  z-index: 1;
  position: relative;
}

.H1Connection{
  position: relative;
  text-align: center;
  color: white;
  display: block; /* Change display to block */
  margin-top: 50px;
  font-size: xx-large;
}

/* fade in animations */
.connectionText{
  font-size: medium;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* spacing between sections and fade in animation */
.psdSec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.psdSec.reveal {
  opacity: 1;
}

/* centred align text and white */
.H1PSD{
  position: relative;
  text-align: center;
  color: white;
  display: block;
  margin-top: 50px;
  font-size: xx-large;
}


/* making sure image is visible and enabling hover animation */
.psdImage{
  max-width: 65%; 
  height: auto;
  display: block;
  margin: 0 auto; 
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

/* enlarge just a little for interaction */
.psdImage:hover{
  transform: scale(1.05);
}

/* centred white text */
.psdText{
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}

/* centred white text with spacing */
.psdText2{
  text-align: center;
  color: whitesmoke;
  font-size: medium;
  margin-bottom: 50px;
}
/* responsive */
@media only screen and (max-width: 768px){
  .connectionText {
    margin-left: 0;
  }
  
  .psdImage {
    margin-left: 0;
  }
}




    /* Connection Page */


    #connectionbg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("Images/connection.jpg");
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: fixed;
      top: 0;
      z-index: -1;
    }

    .howTheyConnectP5container {
      width: 100%;
      height: 100vh; /* Set height to match the viewport height */
    }
    







/* Pick Your Colour Page */


/* BG */

#colourbgcham {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/pexels-thomas-balabaud-3693789.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  margin: 0; 
  padding: 0; 
  z-index: -1;
}




#chooseNoiseContainer {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;   
}


/* button styles, each are the same, just changed to their respective colours (pink, white, brown, blue, violet) */
.whiteNoiseButton {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color: white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.whiteNoiseButton:hover {
  box-shadow: 10px 10px 10px lightgray;
  transform: scale(1.05);
  background-color: white;
  color: black;
}



.pinkNoiseButton {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.pinkNoiseButton:hover {
  box-shadow: 10px 10px 10px lightcoral ;
  transform: scale(1.05);
  background-color: lightpink;
  color:black;
}



.blueNoiseButton{
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.blueNoiseButton:hover {
  box-shadow: 10px 10px 10px blue ;
  transform: scale(1.05);
  background-color: lightskyblue;
  color:black;
}



.violetNoiseButton{
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.violetNoiseButton:hover {
  box-shadow: 10px 10px 10px purple ;
  transform: scale(1.05);
  background-color: violet;
  color:black;
}



.brownNoiseButton{
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #588157;
  color:white;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transition: .2s;
}

.brownNoiseButton:hover{
  box-shadow: 10px 10px 10px brown ;
  transform: scale(1.05);
  background-color: burlywood;
  color:black;
}

/* Chameleons and Visibility Settings */
.colouredchameleons img {
  max-width: 100%;
  height: 400px;
  display: none;
  padding-left: 300px;
}

.colouredchameleons img.active {
  display: block;
}
/* Colour Buttons */
.colourbuttoncontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  align-items: center;
}


/* Header */
.pickyourbackgroundtext{
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Body */
.bodypickyourcolour {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
}